$breakpoints : (xsm: 600,
    sm: 768,
    md: 960,
    lg: 1200,
    xlg: 1550);

@mixin breakpoints($breakpoint, $minOrMax: min) {
    @if ($minOrMax ==max) {
        @media screen and (max-width: #{map-get($breakpoints, $breakpoint) - 1}px) {
            @content;
        }
    }

    @else {
        @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}px) {
            @content;
        }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

@font-face {
    font-family: 'Anime';
    src: url('../assets/Animefont.ttf') format('truetype');

}