@use "sass:map";
$breakpoints : (xsm: 600,
    sm: 768,
    md: 960,
    lg: 1200,
    xlg: 1550);

@mixin breakpoints($breakpoint, $minOrMax: min) {
    @if ($minOrMax ==max) {
        @media screen and (max-width: #{map.get($breakpoints, $breakpoint) - 1}px) {
            @content;
        }
    }

    @else {
        @media screen and (min-width: #{map.get($breakpoints, $breakpoint)}px) {
            @content;
        }
    }
}
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
