.slideshow__slides {
  visibility: hidden;
}

.slideshow {
  display: block;
  position: relative;

  .slick-slide {
    position: relative;

    img {
      background-color: $beige;
    }

    .product_link {
      width: 100%;
      position: absolute;
      height: 100%;
    }

    .credit {
      position: absolute;
      bottom: 10px;
      right: 20px;
      width: fit-content;
      padding: 0px 20px;
      height: 15px;
      border-radius: 30px;
      color: #fff;
      border: 1px solid rgba(0, 0, 0, .5);
      font-size: 8px;
      text-align: right;
      text-decoration: none;
      font-style: italic;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, .5);

      @include breakpoints(sm, max) {
        font-size: 5px;
        justify-content: center;
        display: flex;
        height: 10px;
      }
    }
  }

  .pagination_slide {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: fit-content;
    margin: 0% 50%;
    translate: -50%;

    .slick-dots {
      display: flex !important;
      justify-content: center;
      gap: 5px;
      margin: 0;
      padding: 0;
      list-style: none;

      button {
        display: none;
      }

      li {
        &:only-child {
          display: none;
        }

        &:hover {
          cursor: pointer;
        }

        &::after {
          content: '';
          display: flex;
          width: 15px;
          height: 15px;
          position: relative;
          top: 0;
          left: 0;
          cursor: pointer;
          background-color: #000;
          border-radius: 15px;
          border: 1px solid #5b5b5b;
          transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }

        &:hover::after {
          background-color: #5b5b5b;
        }
      }

      .slick-active::after {
        background-color: #fff;
        width: 25px;
      }
    }
  }

  &__slides.mobile,
  .pagination_slide ul:last-child {
    display: none !important;
  }

  @media (max-width: 760px) {

    &__slides.desk,
    .pagination_slide ul:first-child {
      display: none !important;
    }

    &__slides.mobile {
      display: block !important;
    }

    .pagination_slide ul:last-child {
      display: flex !important;
    }
  }
}