body {
    overflow-x: hidden;

    main {
        background-color: white;

        facet-filters-form {
            form.mobile-facets {
                z-index: 1000;
            }
        }
    }
}

.rte a {
    color: $orange;
}

header {
    .menu-drawer__utility-links {

        localization-form:first-child,
        .list {
            display: none;
        }
    }
}

.section+.section {
    margin-top: 0 !important;
}

.card__badge {
    .badge {
        height: auto;
    }
}

.card {
    &__badge {
        .badge {
            height: auto;
        }
    }
}



.hats--epuise {
    background: grey;
    color: white;
}

.section-header.shopify-section-group-header-group {
    z-index: 999;
}

// nav ul li a {
//     position: relative;

//     span.pkm {
//         display: flex;
//         position: absolute;
//         right: -10px;
//         width: 20px;
//         align-items: center;
//         justify-content: center;
//         aspect-ratio: 1/1;
//         animation: rotate 5s ease-in-out infinite;
//         background-size: contain;
//         background-position: center center;
//         background-repeat: no-repeat;
//         background-image: url('STOREDEX.svg');

//         @include breakpoints(md, max) {
//             position: relative;
//         }
//     }
// }