#hats_slides {
    position: relative;
    z-index: 4;
}

.hats_storedecks_top {
    height: 1px;
    z-index: 3;
    position: relative;
    max-width: 100vw;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        height: 100%;
        margin: auto;
        overflow-x: clip;

        span {
            top: -10px;
            position: absolute;
            width: 5vw;
            min-width: 30px;
            animation: storedeck_p infinite ease-in-out alternate;
            transform-origin: top center;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top center;

            &:nth-child(1) {
                left: 5vw;
                height: 15vh;
                animation-duration: 7s;
            }

            &:nth-child(2) {
                left: 8vw;
                height: 25vh;
                animation-duration: 8s;
            }

            
            &:nth-child(3) {
                    left: 83vw;
                    height: 15vh;
                animation-duration: 6s;
                @media screen and (min-width: 765px) {
                    left: 87vw;

                }
            }

            &:nth-child(4) {
                left: 87vw;
                height: 15vh;
                animation-duration: 5s;
                @media screen and (min-width: 765px) {
                    left: 90vw;

                }
            }

            &:nth-child(5) {
                left: 93vw;

                height: 20vh;
                animation-duration: 10s;
                @media screen and (min-width: 765px) {
                    left: 93vw;

                }
            }
        }
    }
}

@keyframes storedeck_p {
    0% {
        rotate: 5deg;
    }

    100% {
        rotate: -5deg;

    }

}