.revendeurs_page {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    margin: auto;
    min-height: 800px;

    >span {
        position: relative;
        width: 50%;

        .nos_revendeurs {
            width: 100%;
            max-width: 800px;
            margin: auto;
            aspect-ratio: 1 / 1;
            display: flex;
            border: none;
            border-radius: 10px;
        }

        & :after {
            content: '';
            background-image: url('https://cdn.shopify.com/s/files/1/0555/3487/8890/files/MAP.png?v=1720792439');
            position: absolute;
            display: flex;
            max-width: 150px;
            width: 27vw;
            aspect-ratio: 1/1;
            background-size: contain;
            background-repeat: no-repeat;
            bottom: 0;
            right: 10%;
            translate: 50% 50%;
            animation: tinkle infinite ease-in-out 2s alternate;
        }
    }



    .right_block {
        width: 50%;

        #inputVille {
            margin-bottom: 16px;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            flex-direction: row;
            margin: auto;
            border-radius: 20px;
            border: 1px solid grey;
            width: 300px;
        }

        #revendeurs-container {
            .card_revendeurs {
                border: 1px solid #ccc;
                padding: 16px;
                margin: 16px;
                border-radius: 8px;
                box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
                background-color: #fff;

                p {
                    margin: 0;
                }

                &_nom {
                    font-size: 1.2em;
                    font-weight: bold;
                    margin: 0 0 5px 0;
                }

                &_adresse {
                    margin-bottom: 8px;
                    font-size: 1.2rem;
                }

                &_ville {
                    margin-bottom: 8px;
                    font-size: 1.2rem;
                }

                &_type {
                    font-style: italic;
                    color: #888;
                    font-size: 1rem;
                }
            }
        }

    }
}

.map_revendeur {
    //tokyo parade
    width: 85vw;
    margin: auto;
    aspect-ratio: 2 / 1;
    display: flex;
    border: none;
    border-radius: 10px;
}
