.tylt_video_photo_galerie_flexible {
  display: grid;
  gap: 10px;
  padding: 10px 0 0 0;
  background-color: $beige;

  &.one-media {
    grid-template-columns: 1fr;
  }

  &.two-media {
    grid-template-columns: repeat(2, 1fr);
  }

  &.three-media {
    grid-template-columns: repeat(3, 1fr);
  }

  // Optionnel : pour écrans petits, tu peux adapter si besoin
  @include breakpoints(sm, max) {

    &.three-media,
    &.two-media,
    &.one-media {
      grid-template-columns: 1fr;
    }
  }

  .media-item {
    position: relative;

    a {
      &:hover {
        &:after {
          padding: 5px 20px;
        }
      }

      &:after {
        content: 'Voir le produit';
        color: #fff;
        font-size: 12px;
        border: 1px solid #fff;
        border-radius: 30px;
        display: block;
        width: fit-content;
        height: fit-content;
        padding: 5px 10px;
        position: absolute;
        letter-spacing: normal;
        font-weight: 300;
        text-transform: uppercase;
        bottom: 20px;
        left: 20px;
        transition: all 0.3s ease;
      }
    }


    video,
    img {
      width: 100%;
      aspect-ratio: 1.5 / 2;
      object-fit: cover;
      object-position: center;
      display: block;
    }

  }
}