.icon_tylt {
  display: flex;
  height: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
  span {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    aspect-ratio: 1 / 1;
    animation: rotateZoom 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    position: relative;
  }
}
@keyframes rotateZoom {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(-5deg) scale(1.1);
  }
  20% {
    transform: rotate(0deg) scale(1);
  }
}

.product-card.NEW {
  &::after {
    content: "";
    position: absolute;
    width: 45%;
    aspect-ratio: 2101/1359;
    rotate: 353deg;
    top: 0;
    right: 0;
    background-image: url("../../../assets/new.png");
    background-size: cover;
    animation: rotateZoom 10s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  }
}
