@use "aa_variables.scss" as *;

.tylt_movable_solo_element {
  position: relative;
  z-index: 6;
  height: 0px;
  width: 100vw;
  max-width: 100vw;
  overflow-x: clip;

  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0px;

    &__item {
      display: flex;
      background-repeat: no-repeat;
      position: absolute;
      width: fit-content;

      .item_image {
        display: flex;
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }

      &.tylt_thurb_fl_timbre {
        width: 15vw;
        max-width: 440px;
        top: -7vw;
        right: 5vw;
        aspect-ratio: 127/150;
        rotate: 17deg;
        z-index: -1;
        animation: rotateZoom 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
        animation-delay: 2s;

      }
    }
  }
}

@keyframes pinball-gravity {
  0% {
    transform: translate(17vw, 10vw) rotate(0deg);
  }

  25% {
    transform: translate(23.5vw, -20vw) rotate(90deg);
    /* sommet de l’arc */
  }

  50% {
    transform: translate(30vw, 10vw) rotate(180deg);
  }

  /* Retour → de 2 à 1 via un autre sommet plus bas (-10vh) */
  75% {
    transform: translate(23.5vw, -10vw) rotate(270deg);
  }

  100% {
    transform: translate(17vw, 10vw) rotate(360deg);
  }
}

@keyframes jules_pms {
  0% {
    rotate: 5deg;
    translate: 20px;
  }

  50% {
  }

  100% {
    rotate: -5deg;
    translate: -10px;
  }
}

@keyframes voiture {
  0%,
  70% {
    translate: 0px 0px;
  }

  50% {
    translate: 20px 2px;
  }
}

@keyframes ticketor {
  0% {
    transform-origin: left bottom;
    rotate: -5deg;
  }

  100% {
    rotate: 2deg;
  }
}

@keyframes flipperleft {
  0% {
    rotate: -5deg;
  }

  7% {
    rotate: -34deg;
  }

  9%,
  100% {
    rotate: -5deg;
  }
}

@keyframes flipperright {
  0%,
  50% {
    rotate: 5deg;
  }

  53% {
    rotate: 15deg;
  }

  57% {
    rotate: 5deg;
  }

  100% {
    rotate: 5deg;
  }
}

@keyframes rotatepkm {
  0% {
    rotate: 5deg;
  }

  20% {
    rotate: -15deg;
  }

  10% {
    rotate: 15deg;
  }

  30% {
    rotate: 5deg;
  }
}

@keyframes surf {
  0% {
    rotate: 5deg;
  }

  10% {
    rotate: 5deg;
    translate: 20px 0px;
  }

  20% {
    rotate: -2deg;
    translate: 00px 0px;
  }

  100% {
    rotate: 5deg;
    translate: 0px -10px;
  }
}

@keyframes chill {
  0% {
    rotate: 5deg;
  }

  100% {
    rotate: -5deg;
    translate: 0px -10px;
  }
}

@keyframes lantern {
  0% {
    rotate: -7deg;
  }

  50% {
    rotate: 7deg;
  }
}
