product-info{
    .product__media-wrapper{
        position: relative;
    }
}

.pastille_glitch_BlackFriday-two {
    top: 38px;
    left: 16px;
    rotate: -5deg;
    border: 1px solid #16977a;
}

.pastille_glitch_BlackFriday-one {
    top: 12px;
    left: 20px;
    rotate: -7deg;
    border: 1px solid #ff8112;
}

.pastille_glitch_BlackFriday-one,
.pastille_glitch_BlackFriday-two {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    min-width: 50%;
    background-color: rgb(255, 248, 216);
    padding: 0px 15px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    
    &.visible{
        display: flex;
    }
    span {
        border-radius: 2px;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
    }
}