@use "aa_variables.scss" as *;

.tylt_movable_solo_element {
  position: relative;
  z-index: 6;
  height: 0px;
  width: 100vw;
  max-width: 100vw;
  overflow-x: clip;

  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0px;

    &__item {
      display: flex;
      background-repeat: no-repeat;
      position: absolute;
      width: fit-content;

      .item_image {
        display: flex;
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }

      &.tylt_thurb_fl_timbre {
        width: 15vw;
        max-width: 440px;
        top: -7vw;
        right: 5vw;
        aspect-ratio: 127/150;
        rotate: 17deg;
        z-index: -1;
        animation: rotateZoom 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
        animation-delay: 2s;
      }
       &.tylt_thurb_fl_timbre_tiny {
        width: 10vw;
        max-width: 440px;
        top: -7vw;
        right: 3vw;
        aspect-ratio: 127/150;
        rotate: 17deg;
        z-index: -1;
        animation: rotateZoom 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
        animation-delay: 2s;
        @include breakpoints(sm, max){
          width: 20vw;
        }
      }
    }
  }
}
