//Prévus pour Colaboration Jules x Paiheme 05/2025
.tylt_end_jules {
    display: flex;
    padding: 5%;

    &__container {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 1% 3% 20% 1% 5% 20%;
        grid-template-rows: auto 90px 15vh;

        @include breakpoints (lg, max) {
            grid-template-columns: 45% 45%;
            grid-template-rows: 300px 200px auto;
            gap: 10px;
        }

        &__item {
            position: relative;

            span {
                width: 100%;
                height: 100%;
                display: flex;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                position: relative;
            }

            &.one {
                aspect-ratio: 132/123;
                grid-row: 1 / 4;
                grid-column: 1/ 3;
                z-index: 800;
                scale: 1.05;

                @include breakpoints (lg, max) {
                    grid-row: 3;
                    grid-column: 1 / 3;
                    scale: 1;
                    padding-left: 5%;

                }

                span {
                    background-position: unset;
                }
            }

            &.two {
                grid-row: 1 / 3;
                grid-column: 3 / 5;
                height: 100%;
                z-index: 600;

                @include breakpoints (lg, max) {
                    grid-row: 1;
                    grid-column: 1;
                }

            }

            &.tri {
                grid-row: 1 / 3;
                grid-column: 6 / 8;
                height: 100%;
                z-index: 600;

                @include breakpoints (lg, max) {
                    grid-row: 1;
                    grid-column: 2;
                }

            }

            &.tee {
                grid-row: 2 / 4;
                grid-column: 7;
                z-index: 800;
                height: 100%;
                align-self: end;

                @include breakpoints (lg, max) {
                    grid-row: 1;
                    grid-column: 1;
                    width: 90%;
                    
                    span{
                        left: -50%;
                        top: 60%;
                        rotate: 10deg;
                    }
                }


                span {
                    background-size: contain;
                }
            }

            &.text {
                grid-row: 3;
                grid-column: 3 / 7;
                font-size: 1.5vh;
                line-height: 1.55vh;
                align-self: end;
                color: #253267;

                @include breakpoints (lg, max) {
                    grid-row: 2;
                    grid-column: 1 / 3;
                    padding: 20px;
                    padding-left: 20%;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}

.tylt_text_jules {
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 35%;
    gap: 10px;
    border: 2px solid #253267;

    @include breakpoints(md, max) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 0;
    }

    &__text {
        padding: 50px 10vw 50px 15vw;
        color: white;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-color: #253267;

        @include breakpoints(md, max) {
            padding: 50px 15vw 50px 20vw;
        }

        &__container {
            display: flex;
            flex-direction: column;
            max-width: 606px;

            h1 {
                text-transform: uppercase;
                font-size: 35px;
                color: white;
                font-weight: 900;
                margin-bottom: 0px;

                @include breakpoints(md, max) {
                    font-size: 20px;
                }
            }

            p {
                font-size: 23px;
                font-weight: 100;
                line-height: 120%;

                @include breakpoints(md, max) {
                    font-size: 13px;
                }
            }
        }

    }

    &__image {
        width: 100%;

        a {
            display: flex;
            width: 100%;
            height: 100%;
        }

        &__container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            @include breakpoints(md, max) {
                min-height: 700px;
            }

            &__item {
                height: 100%;
                display: flex;
                width: 100%;
                background-size: cover;
                background-position: center center;
                transition: all 0.5s ease-in-out;

                &:hover {
                    scale: 1.05;
                }
            }
        }
    }
}

.tylt_tiny_jules {
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 0px 30px;
    padding: 50px 10%;
    align-items: center;
    justify-content: center;
    @include breakpoints(md, max) {
        grid-template-columns: 1fr;
        padding: 50px 10px;
        gap: 20px;
    }

    &__text {
        grid-row: 1;
        width: 100%;
        @include breakpoints(md, max) {
            width: 100%;
            grid-row: 2;
        }

        &__container {
            display: flex;
            width: 100%;

            p {
                text-transform: uppercase;
                font-style: italic;
                color: #6F6D65;
                font-size: 1.9vw;
                @include breakpoints(md, max) {
                    text-align: center;
                    margin: auto;
                }

                @include breakpoints(md, max) {
                    font-size: 3vw;
                }

                strong {
                    color: #F69713;
                }
            }
        }
    }

    &__image {
        grid-row: 1;
        width: 100%;
        max-height: 100%;
        aspect-ratio: 118/75;
        max-height: 250px;

        &__container {
            display: flex;
            width: 100%;
            height: 100%;
            max-height: 250px;
            justify-content: center;

            &__item {
                display: flex;
                max-width: 300px;
                width: 100%;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }
}

.tylt_triple_img_jules {
    width: 100vw;
    overflow: hidden;
    height: auto;
    background-size: cover;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        padding: 5vw 10vh;
        gap: 20px;
        overflow: hidden;

        @include breakpoints(sm, max) {
            padding: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        &__item {
            width: 100%;
            aspect-ratio: 558/709;
            background-size: cover;
            grid-column: auto;
            rotate: 0deg;

            a {
                width: 100%;
                height: 100%;
                display: flex;
            }

            &_rotate {
                display: flex;
                width: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                grid-column: auto;
                rotate: 0deg;
                transition: all 0.5s ease-in-out;

                &:hover {
                    rotate: -1deg;
                    scale: 1.05;
                }

            }

            &.last {
                display: grid;
                align-items: baseline;
                width: 100%;
                grid-template-columns: 30% 26% auto;
                grid-template-rows: auto 70px;

                &_image {
                    width: 100%;
                    aspect-ratio: 372/419;
                    grid-column: 2/4;
                    grid-row: 1;

                    >a>span {
                        display: flex;
                        width: 100%;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        transition: all 0.5s ease-in-out;

                        &:hover {
                            scale: 1.05;
                            rotate: 1deg;
                        }
                    }
                }

                &_comp_one {
                    display: flex;
                    grid-row: 1/3;
                    grid-column: 1/3;
                    aspect-ratio: 67/150;
                    width: 100%;
                    align-self: end;
                }

                &_comp_two {
                    display: flex;
                    grid-row: 1/3;
                    grid-column: 3/4;
                    aspect-ratio: 39/25;
                    width: 100%;
                    align-self: end;
                }
            }
        }
    }
}