.beige_ex {
    color: #fec18c;
}

.orange_ex {
    color: #ff8112;
}

.blue_ex {
    color: #1AAA9A;
}

/* Banner Video Tokyo Parade */
.logo_tp {
    width: 30vw;
    max-width: 500px;
    aspect-ratio: 1092 / 463;
    background-image: url(/cdn/shop/files/LOGO_3D_PMS.png?v=1718346919);
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;
    top: 2vw;
    z-index: 2;
    position: absolute;
}


.banner_video_tp .tv_back {
    position: absolute;
    background-image: url("https://cdn.shopify.com/s/files/1/0555/3487/8890/files/TV_00aaa6a2-1355-4d2b-9c59-9287b53dec87.png?v=1718723278");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 99vw;
    aspect-ratio: 16 / 9;
    display: flex;
    left: -1vw;
    bottom: 4vw;
}

.banner_video_tp {
    background-image: url('https://cdn.shopify.com/s/files/1/0555/3487/8890/files/BG.jpg?v=1718718409');
    margin-bottom: -5px;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 60vw;
    background-size: 100vw;
    background-position: center -12vw;
}

.banner_video_tp iframe {
    border-radius: 20px;
    width: 57vw;
    top: -6vw;
    left: -0.7vw;
    aspect-ratio: 16 / 9;
    position: relative;
}

@media only screen and (max-width: 760px) {
    .banner_video_tp {
        height: 100vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .banner_video_tp .tv_back {
        background-image: url("https://cdn.shopify.com/s/files/1/0555/3487/8890/files/TV_Mobile_7bac77a9-cb2a-4584-a3b1-841de680bd5c.png?v=1718723277");
        aspect-ratio: 1/1;
        left: 1.5vw;
        bottom: 3.5vw;
        width: 93vw;
    }

    .banner_video_tp iframe {
        width: 74vw;
        top: -5.2vw;
        left: -0.9vw;

    }

    .map_revendeur {
        width: 90vw;
        margin: auto;
        aspect-ratio: 1 / 2;
        display: flex;
    }
}

@keyframes happy-z {
    0% {
        transform: translate(0, 0) rotateY(0) rotateZ(0deg) scale(1, 1);
    }

    5% {
        transform: translate(-5vw, 0) rotateY(0) rotateZ(-10deg) scale(1, 0.7);
    }

    40% {
        transform: translate(75vw, -5vw) rotateY(0) rotateZ(0deg) scale(1, 1);
    }

    50% {
        transform: translate(80vw, 0vw) rotateY(180deg) rotateZ(-10deg) scale(1, 0.8);
    }

    55% {
        transform: translate(85vw, 0vw) rotateY(180deg) rotateZ(-10deg) scale(1, 0.7);
    }

    80% {
        transform: translate(5vw, 0vw) rotateY(180deg) rotateZ(0deg) scale(1, 1);
    }

    100% {
        transform: translate(0, 0) rotateY(0) rotateZ(0deg) scale(1, 1);
    }
}

@keyframes tinkle {
    0% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-2deg);
        scale: 1.1;
    }
}

.animate:after {
    animation: happy-z 2s cubic-bezier(1, 0, 0, 1) infinite;
}

.taiko_hello {
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
}

.contain_tako {
    position: relative;
}

.contain_tako media-gallery {
    z-index: 2;
}

.newsletter>div:after {
    opacity: 0;
    /* Change l'opacity dans sur le bloc en lui même */
    background-image: url('https://cdn.shopify.com/s/files/1/0555/3487/8890/files/Animation_mascotte_4.gif?v=1718295576');
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 15vw;
    z-index: 1;
    aspect-ratio: 520 / 630;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center center;
    left: 67vw;
    right: 0vw;
    bottom: -6vw;
    top: unset;
    rotate: 345deg;
}


.tako_there {
    background-image: url('https://cdn.shopify.com/s/files/1/0555/3487/8890/files/Animation_mascotte_2.gif?v=1718294625');
    content: "";
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100px;
    height: 100px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center center;
    bottom: -30px;
    right: 0vw;
}