.icon_card-item {
    height: 1em;
    width: 15px;
    float: left;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &.print {
        background-image: url('print-icon.svg');
    }
    &.puzzle {
        background-image: url('puzzle-icon.svg');
    }
    &.cp {
        background-image: url('cp-icon.svg');
        margin-top: 2px;
    }
    &.t-shirt    {
        background-image: url('textile-icon.svg');
    }
    &.tps {
        background-image: url('tps-icon.svg');
    }
}